<h1 id="tableLabel">Punches by Employee</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<select name="employees" id="employees" (change)='fetchPunches($event.target.value)'>
  <option *ngFor="let employee of employees" [value]="employee.id">
    {{employee.name}}
  </option>
</select>


<div *ngIf="!punches || punches.length == 0">
  There's no punches to the selected employee.
</div>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="punches && punches.length > 0">
  <thead>
    <tr>
      <th>Employee</th>
      <th>Date</th>
      <th>Punch Type</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let punch of punches">
      <td>{{ punch.employeeName }}</td>
      <td>{{ punch.dateTime }}</td>
      <td>{{ punch.punchType }}</td>
    </tr>
  </tbody>
</table>
